
html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
} 

*,
*::before,
*::after {
  box-sizing: inherit;
}


@import "functions";
@import "variables";

@import "mixins";
@import "mixins/breakpoints";
@import "mixins/grid-framework";
@import "mixins/grid";

@import "grid";
@import "utilities/display";
@import "utilities/flex";
@import "utilities/spacing";

@import "root";
@import "reboot";
@import "type";
@import "images";
@import "code";
@import "tables";
@import "forms";
@import "buttons";
@import "transitions";
@import "dropdown";
@import "button-group";
@import "input-group";
@import "custom-forms";
@import "nav";
@import "navbar";
@import "card";
@import "breadcrumb";
@import "pagination";
@import "badge";
@import "jumbotron";
@import "alert";
@import "progress";
@import "media";
@import "list-group";
@import "close";
@import "toasts";
@import "modal";
@import "tooltip";
@import "popover";
@import "carousel";
@import "spinners";
@import "utilities";
@import "print";

body{
	background: #eceff4;
}


a:hover,
a:active,
a:focus{
  text-decoration: none;
}

.margin-top-100{
	margin-top: 100px;
}

.vertical-center {
  	min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  	min-height: 100vh; /* These two lines are counted as one :-)       */

  	display: flex;
  	align-items: center;
}

::-webkit-scrollbar {
    width: 0.5em;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
::-webkit-scrollbar-thumb {
  background-color: #777;
  outline: 1px solid #333;
}


/* 
 */

.navbar .navbar-brand{
  color:white !important;
}

$information-phone: "only screen and (max-width : 500px)";
@media #{$information-phone} {
    
}
.header-desktop {
  display:block; 
  width: 100%; 
  color: #fff;
  position:fixed;
  top:0;
  
  .header-text{ 
    display: inline-block; 
    width: 255px; 
    background: #272727; 
    height: 45px; 
    padding:10px; 
    position: fixed;
    left: 0;
  }
  .header-content{ 
    display: inline-block; 
    width: calc(100% - 255px); 
    background: #343434;
    height: 45px;
    padding:10px; 
    position: fixed;
    right: 0;
  }
}

.header-mobile {
  display:none;
  width: 100%; 
  background: #343434; 
  height: 45px; 
  padding:10px; 
  color:#ffffff;
  position:fixed;
  top:0;
  z-index:3;
}
.site-logo-text{
  font-weight: 600;
  text-transform: uppercase;
}


@media #{$information-phone} {
    .header-desktop{ 
    display: none; 
  }
    .header-mobile{ 
    display: block; 

    .header-menu-btn{
      display: inline-block;
      width:30px;
      a{
        display:block;
        width:30px;
        text-align:center;
      }
    }
    .header-text{
      display: inline-block;
      width: calc(100% - 60px);
    }
    .header-content{
      display: inline-block;
      width:30px;
      text-align: right;
    }
  }
}

.sidebar{
  display:block;
  background: #343434;
  width: 255px;
  height: calc(100% - 45px);
  height: calc(100vh - 45px);
  position: fixed;
  top:45px;
  left: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  transition: all 0.1s ease-out;
  z-index:3;

  .sidebar-inner{

    .sidebar-header{
      min-height:100px;
      border-bottom: 1px solid #272727;

      .sidebar-header-img{
        padding: 20px 60px;

        img{
          border-radius: 50%;
        }
      }
    }
    .sidebar-body{

      ul.sidebar-menu{
        padding:0;
        list-style: none;

        li{
          padding:5px 15px;
          transition: all 0.3s ease-out;

          a{
            display:block;
            color: white;
            i{
              width:30px;
            }
            span{
              padding-left: 10px;
            }
          }
          &:hover{
            background:#999999;
          }
        }
      }
    }
  }
}

.sidebar::-webkit-scrollbar {
    width: 0.5em;
}
 
.sidebar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
.sidebar::-webkit-scrollbar-thumb {
  background-color: #777;
  outline: 1px solid #333;
}


@media #{$information-phone} {
  .sidebar{
    left:0;
  }
  .sidebar.hidden{
    left:-255px;
  }
}


.page-content{
  margin-left: 255px;
  width: calc(100% - 255px);
  width: calc(100vh - 255px);
  margin-top:45px;
  z-index:1;
  padding:10px;

  .page-header{
    background:white;
    padding: 10px 10px;

    .page-title{
      font-size: 20px;
      font-weight: 600;
    }
    .breadcrumb{
      background:none;
      padding:0;
    }
  }
}


@media #{$information-phone} {
  .page-content{
    margin-left:0;
    width: 100%;
  }
  .page-content.overlay > .overlay{
    position: fixed; /* Sit on top of the page content */
      display: block; /* Hidden by default */
      width: 100%; /* Full width (cover the whole page) */
      height: 100%; /* Full height (cover the whole page) */
      top: 0; 
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0,0,0,0.5); /* Black background with opacity */
      z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
      cursor: pointer; /* Add a pointer on hover */
      transition: transform 0.1s;
  }
}

.loading-block{
  display:block;
  text-align:center;
  i{
    font-size:20;
  }
}

.single-post{
  .single-post-text{
    img{
      max-width: 100%;
    }
  }
}

.navbar{
  width: 100%;
  .left-nav-area{
    width:25px;
    a{
      color:white;
    }
  }
  .center-nav-area{
    width:calc(100%-50px);
    color:white;
  }
  .right-nav-area{
    text-align:right;
    width:25px;
    a{
      color:white;
    }
  }
}