<nav class="navbar bg-dark navbar-dark">
  <div class="left-nav-area">
  	<a (click)="this._location.back();"><i class="fa fa-angle-left"></i></a>
  </div>
  <div class="center-nav-area">
  	<h4>SupTube</h4>
  </div>
  <div class="right-nav-area">
	</div>
</nav>
<br>
<div class="container-fluid">
	<div class="row">
		<div class="col-12">
			<h3 class="text-center">About</h3>
			<p>Built and distributed with <i class="fa fa-heart"></i> by <a href="https://www.sapricami.com/" target="_blank">Sapricami.com</a></p>
		</div>
	</div>
</div>